//imported scss partials
@import "./partials/footer", "./partials/nav", "./partials/reset", "./partials/utillities";
//imported font styles

//setup color variable names
$main-color: #E8DCD4;
$secondary-color: #17172B;
$accent-color: #66ADAB;
$accent1-color: #bca297;
$accent2-color: #a2a2a2;
$text-color: #ceacbd;
$logo-color: #f0f;
$logo-zolor: #ff0;
$logoz-color: #8e16e9;
//set up font & border variable names
$border-color: navy;
$font-weight: (
    "small":300,
    "medium":500,
    "large": 700,
);

body {
    background: $main-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bannerWords {
    position: absolute;
    text-shadow: $text-color 4px 4px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
}

.bannerText {
    font-size: 5rem;
    font-weight: 200;
    margin-bottom: 1em;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-text {
    font-size: 24px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.service {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
}

.serviceContainer {
    margin-top: 3rem;
    padding: 0;
    box-sizing: border-box;
    // width: 65rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
}

.serviceContainer .serviceBox {
    margin: 0;
    padding: 0;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    width: 320px;
    border: none;
    background-color: $accent2-color;
    padding: 100px 40px 60px;
    box-shadow: 0 1px 5px;
}

.serviceContainer .serviceBox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $accent1-color;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.serviceContainer .serviceBox:hover:before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.serviceContainer .serviceBox h2 {
    position: absolute;
    left: 40px;
    top: 65px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.serviceContainer .serviceBox:hover h2 {
    opacity: 1;
    transform: translateY(-40px);
    color: $main-color;
}

.serviceContainer .serviceBox h3 {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
}

.serviceContainer .serviceBox p {
    position: relative;
    font-size: 1.25em;
    z-index: 2;
}

.serviceContainer .serviceBox:hover h3,
.serviceContainer .serviceBox:hover p {
    color: $main-color;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}