//imported scss partials
@import "./partials/footer", "./partials/nav", "./partials/reset", "./partials/utillities";
//imported font styles
@import url("https: //fonts.google.com/specimen/Raleway");
@import url("https: //fonts.google.com/specimen/Lora");
@import url("https: //fonts.google.com/specimen/Sedgwick+Ave+Display");
@import url("https: //fonts.google.com/specimen/Tilt+Prism");

//setup color variable names
$main-color: #E8DCD4;
$secondary-color: #17172B;
$accent-color: #66ADAB;
$accent1-color: #A37F6F;
$accent2-color: #8B635C;
//set up font & border variable names
$border-color: navy;
$font-weight: (
    "small":300,
    "medium":500,
    "large": 700,
);