.logo {
  position: absolute;
  left: 3rem;
  top: 1.7rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 1em;
  box-shadow: inset 0 0 3em #fff, inset 1em 0 2em #f0f, inset -1em 0 2em rgb(140, 0, 255), inset 1em 0 4em #f0f, inset -1em 0 4em rgb(174, 0, 255), 0 0 3em #fff, 0em 0 2em #f0f, 0em 0 2em rgb(162, 0, 255);
  transition: box-shadow 1s ease-out;
  animation: spin 60s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* make the logo do cursor as pointer */
.logo:hover {
  cursor: pointer;
}

.logo::before,
.logo::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px #ff0;
  opacity: 0;
  transition: opacity 8s, transform 8s;
}

.on {
  background-color: #fff;
  box-shadow: 0 0 80px 40px #fff, 0 0 200px 100px #f0f;
}

.on::before {
  transform: translateX(-100px);
  opacity: 1;
}

.on::after {
  transform: translateX(100px);
  opacity: 1;
}

.wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  height: 100%;
  width: 100%;
  background: #000;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .wrapper {
  clip-path: circle(75%);
}

.menu-btn {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: #000;
  transition: all 0.3s ease-in-out;
}

#active:checked ~ .menu-btn {
  color: #fff;
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.wrapper ul li {
  margin: 15px 0;
}

.wrapper ul li a {
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}

.wrapper ul li a:hover {
  color: #fff;
}

input[type=checkbox] {
  display: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
code,
del,
em,
img,
ins,
strike,
strong,
sub,
sup,
var,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
canvas,
footer,
header,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #E8DCD4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bannerWords {
  position: absolute;
  text-shadow: #ceacbd 4px 4px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
}

.bannerText {
  font-size: 5rem;
  font-weight: 200;
  margin-bottom: 1em;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-text {
  font-size: 24px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

/* uses the move animation and tells it where to go *//*# sourceMappingURL=styles.css.map */