.logo {
    position: absolute;
    left: 3rem;
    top: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 1em;
    box-shadow: inset 0 0 3em #fff,
        /* inner white */
        inset 1em 0 2em #f0f,
        /* inner left magenta short */
        inset -1em 0 2em rgb(140, 0, 255),
        /* inner right cyan short */
        inset 1em 0 4em #f0f,
        /* inner left magenta broad */
        inset -1em 0 4em rgb(174, 0, 255),
        /* inner right cyan broad */
        0 0 3em #fff,
        /* outer white */
        0em 0 2em #f0f,
        /* outer left magenta */
        0em 0 2em rgb(162, 0, 255);
    /* outer right cyan */
    ;
    transition: box-shadow 1s ease-out;
    // animation: spin 60s linear infinite;
}

/* make the logo do cursor as pointer */

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.logo:hover {
    cursor: pointer;
}

.logo::before,
.logo::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 40px 20px #fff, 0 0 100px 50px #ff0;
    opacity: 0;
    transition: opacity 8s, transform 8s;
}

.on {
    background-color: #fff;
    box-shadow: 0 0 80px 40px #fff, 0 0 200px 100px #f0f;
}

.on::before {
    transform: translateX(-100px);
    opacity: 1;
}

.on::after {
    transform: translateX(100px);
    opacity: 1;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.nine-dot{
    position: relative;
    left: 89rem;
    top: 1rem;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}